<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <title>TODO App</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <![endif]-->
    <style type="text/css">
        #todoList li {
            cursor: pointer;
        }
    </style>
</head>
<body>

<div class="container">

    <h1>TODO</h1>

    <form class="form-inline" role="form">
        <div class="input-group flex-nowrap">
            <input type="text" class="form-control" id="todo" placeholder="Add todo" aria-describedby="addon-wrapping">
        </div>
        <input type="submit" class="btn btn-primary" id="add-todo-button" value="Add">
    </form>

    <br>

    <div class="row">
        <div class="col-md-3">
            <div class="well"><h3 style="text-align: center">TODO</h3>
                <ul id="todoList" class="listarea"></ul>
            </div>
        </div>
        <div class="col-md-3">
            <div class="well"><h3 style="text-align: center">Notes</h3>
                <ul id="comments" class="listarea"></ul>
            </div>
        </div>
        <div class="col-md-3">
            <div class="well"><h3 style="text-align: center">Due Date</h3>
                <ul id="dueDate" class="listarea"></ul>
            </div>
        </div>
        <div class="col-md-3">
            <div class="well"><h3 style="text-align: center">DONE</h3>
                <ul id="doneList" class="listarea"></ul>
            </div>
        </div>
    </div>

</div> <!-- ./container -->
<script type="text/javascript">
  $('#add-todo-button').click(function (e) {
    var todo = $('#todo');
    if (todo.val()) {
      $('#todoList').append("<li title='Click to finish todo'>" + todo.val() + "</li>");
      $('#todo').val("").focus();
    }
    e.preventDefault();
  });

  $('#todo').keypress(function (e) {
    if (e.keyCode === 13) {
      $('#add-todo-button').click();
    }
  });

  $('#todoList').click(function (e) {
    if (e.target.nodeName === 'LI') {
      var doneTodo = e.target;
      doneTodo.title = "";
      // add to doneList
      $("#doneList").append(doneTodo);
      $("#comments li").first().remove();
      $("#dueDate li").first().remove();
    }
  });


  {{with .toDoList}}
  {{range .}}
      $('#todoList').append("<li title='Click to finish todo'>" + {{.Labels}} + "</li>");
      $('#comments').append("<li title='Click to finish todo'>" + {{.Comments}} + "</li>");
      $('#dueDate').append("<li title='Click to finish todo'>" + {{.DueDate.Format "Jan 02, 2006 15:04:05 UTC"}} + "</li>");
  {{end}}
  {{end}}

</script>
</body>
</html>